doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Range slider
  body
    .container
      //- div(style="background-color: lightblue; height: 300px; display: flex; align-items: center; justify-content: center;") div before
      .range-slider.js-range-slider
      //- div(style="background-color: lightgreen; height: 300px; display: flex; align-items: center; justify-content: center;") div after

