body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
//  width: 200vw;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  // display: flex;
}

.range-slider {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  &__input {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 10px;
    width: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    opacity: 0;
    &::-webkit-slider-thumb {
      width: 30px;
      height: 30px;
      border-radius: 0;
      background-color: red;
      -webkit-appearance: none;
      pointer-events: all;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 30px;
      height: 30px;
      border-radius: 0;
      background-color: red;
      pointer-events: all;
      cursor: pointer;
    }
    &::-ms-thumb {
      width: 30px;
      height: 30px;
      border-radius: 0;
      background-color: red;
      pointer-events: all;
      cursor: pointer;
    }
  }
  &__slider {
    position: relative;
    z-index: 1;
    height: 6px;
  }
  &__track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgba(crimson, 0.3);
  }
  &__range {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: crimson;
    pointer-events: none;
    &_smooth-transition {
      transition:
        left 0.5s ease-in-out,
        right 0.5s ease-in-out;
    }  
  }
  &__thumb {
    position: absolute;
    z-index: 3;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: crimson;
    box-shadow: 0 0 0 0 rgba(crimson, 0.1);
    transition: 
      box-shadow 0.2s ease-in-out; 
    pointer-events: none;  
    &_smooth-transition {
      transition: 
        box-shadow 0.2s ease-in-out,
        left 0.5s ease-in-out,
        right 0.5s ease-in-out;
    }  
    &_left {
      transform: translate(-8px, -5px);
    }
    &_right {
      transform: translate(8px, -5px);
    }
    &_hover {
      box-shadow: 0 0 0 5px rgba(crimson, 0.1);
    }
    &_active {
      box-shadow: 0 0 0 10px rgba(crimson, 0.2);
    }
  }
  &__min-max-label {
    background-color: slategrey;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    transition: all 0.2s ease-in-out;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
  &__value-label {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    position: absolute;
    padding: 3px 5px;
    border-radius: 5px;
    bottom: 20px;
    white-space: nowrap;
    &_smooth-transition {
      transition:
        left 0.8s cubic-bezier(0.79,0.14,0.15,0.86),
        right 0.8s cubic-bezier(0.79,0.14,0.15,0.86);
    }  
    &_left {
      transform: translateX(-50%);
    }
    &_right {
      transform: translateX(50%);
    }
    &_common {
      opacity: 0;
      transform: translateX(-50%);
    }
  }
  &__scale {
    position: relative;
    top: 8px;
    height: 8px;
    display: flex;  
    cursor: pointer;
    &-interval {
      border-right: 1px solid gray;
      height: 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      &:first-child {
        border-left: 1px solid grey;
      }
      &-value {
        display: block;
        position: absolute;
        top: calc(100% + 3px);
        right: 0;
        transform: translateX(50%);
        font-size: 0.7rem;
        color: gray;;
        &_min {
          left: 0;
          right: unset;
          transform: translateX(-50%);
        }
      }
    }
    &-mark {
      display: block;
      width: 1px;
      height: 4px;
      background-color: gray;
    }
  }
  &_vertical {
    transform: rotate(-90deg);
    .range-slider__min-max-label {
      &_left {
        transform-origin: bottom left;
      }
      &_right {
        transform-origin: top right;
      }
    }
    .range-slider__value-label {
      transform-origin: top right;
    }
    .range-slider__scale-interval-value {
      transform-origin: top right;
      &_min {
        transform-origin: top left;
      }
    }
  }
  &_with-labels {
    padding-top: 38px;
  }
  &_with-scale {
    padding-bottom: 25px;
  }
}

